@model Pokedex.Application.ViewModel.AddPokemonViewModel

@{
    bool EditMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = EditMode?"Edit Pokemon":"Create Pokemon";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header badge-red text-white text-center">
                <h3>@(EditMode?"Edit Pokemon":"Create Pokemon")</h3>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Pokemon" asp-action=@(EditMode?"Edit":"Create")>
                    <div class="row">
                       <div class="col-md-6 mb-3">
                        <label asp-for="Name" class="form-label">Name:</label>
                        <input type="text" asp-for="Name" placeholder="Insert a Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                       </div>
                        <div class="col-md-6 mb-3">
                        <label asp-for="PhotoUrl" class="form-label">Photo Url:</label>
                        <input type="text" asp-for="PhotoUrl" placeholder="Insert a URL" class="form-control"/>
                        <span asp-validation-for="PhotoUrl" class="text-danger"></span>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6 mb-3">
                        <label asp-for="Color" class="form-label">Pokemon Color:</label>
                        <select class="form-select" asp-for="Color">
                            <option value="">Select a Color</option>
                            <option value="yellow">Yellow</option>
                            <option value="blue">Blue</option>
                            <option value="brown">Brown</option>
                            <option value="black">Black</option>
                            <option value="purple">Purple</option>
                            <option value="gray">Gray</option>
                            <option value="red">Red</option>
                            <option value="pink">Pink</option>
                            <option value="white">White</option>
                            <option value="green">Green</option>
                        </select>
                        <span asp-validation-for="Color" class="text-danger"></span>
                       </div>
                        <div class="col-md-6 mb-3">
                        <label asp-for="RegionId" class="form-label">Region:</label>
                        <select asp-for="RegionId" asp-items="Model.Region" class="form-select">
                            <option value="">Select a Region</option>
                        </select>
                        <span asp-validation-for="RegionId" class="text-danger"></span>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="PrimaryTypeId" class="form-label">Primary Type:</label>
                            <select asp-for="PrimaryTypeId" asp-items="Model.Type" class="form-select">
                                <option value="">Select a Primary Type</option>
                            </select>
                            <span asp-validation-for="PrimaryTypeId" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="SecondaryTypeId" class="form-label">Secondary Type:</label>
                            <select asp-for="SecondaryTypeId" asp-items="Model.Type" class="form-select">
                                <option value="0">Select a Secondary Type</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Id"/>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info">@(EditMode?"Edit":"Create")</button>
                        </div>
                        <div class="col-md-6">
                            <a asp-action="Index" class="btn btn-danger">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>