@{
    ViewData["Title"] = "Home Page";
    string[] colorArray = new string[10] {"yellow","blue","white","gray","brown","purple","black","red","pink","green"};
}
<div class="row">
        @{
            foreach(var item in colorArray)
            {
                  <div class="col-sm-4 mb-4">
                    <div class="card card-@item">
                    <img src="~/Images/charizard.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><span class="badge badge-@item">Charizard</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div class="row">
                        <div class="col-sm-6">
                        <div class="card option-secondary">
                            <div class="card-body">
                            
                            <h5><i class="fa-solid fa-location-dot fa-xs"></i> Region:</h5>
                            <span>Kanto</span>
                            </div>
                        </div>
                        </div>
                       <div class="col-sm-6">
                        <div class="card option-tertiary">
                            <div class="card-body">
                            <h5><i class="fa-solid fa-circle-info fa-xs"></i> Type:</h5>
                            <span>Fire</span>
                            </div>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

            }
        }
</div>
