@model Pokedex.Application.ViewModel.AddRegionViewModel

@{
    bool editMode = Model.Id == 0 ? false : true;

    ViewData["Title"] = editMode?"Edit Region":"Create Region";
}

<div class="row">
    <div class="col-md-3 offset-4">
        <div class="card">
            <div class="card-header badge-brown text-center text-white">
                <h3>@(editMode?"Edit Region":"Create Region")</h3>
            </div>
            <div class="card-body">
                <form asp-controller="Region" asp-action=@(editMode?"Edit":"Create") method="post">
                    <input asp-for="Id" type="hidden" />

                    <label asp-for="Name" class="form-label">Name:</label>
                    <input  asp-for="Name" type="text" class="form-control mb-3"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <button type="submit" class="btn btn-outline-success">@(editMode?"Edit":"Create")</button>
                    <a asp-action="Index" class="btn btn-outline-danger">Back to List</a>
                </form>
            </div>
        </div>
</div>
</div>
