/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


* {
font-family:Bahnschrift;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.option-primary {
    background: #ffa319!important;
}

.option-secondary {
    background: #db3e39 !important;
}

.option-tertiary {
    background: #2db387!important;
}

.dropdown-primary {
width:248px;
border:3px solid #ffa319;
border-top:0px;
border-left:0px;
border-right:0px;
}

.dropdown-secondary {
    width: 248px;
    border: 3px solid #db3e39;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.dropdown-tertiary {
    width: 248px;
    border: 3px solid #2db387;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.badge-yellow {
    background: #fbff0c;
    color: black;
    box-shadow: 0px 0px 4px 1px #cbc51f;
}

.badge-blue {
    background: #2f85c3;
    box-shadow: 0px 0px 4px 1px #06656e;
}

.badge-white {
    background: #ffffff;
    color: darkgrey;
    box-shadow: 0px 0px 4px 1px gray;
}

.badge-gray {
    background: #838383;
    box-shadow: 0px 0px 4px 1px #97a39f;
}

.badge-brown {
    background: #975c05;
    box-shadow: 0px 0px 4px 1px #a38a0f;
}

.badge-purple {
    background: #7c009b;
    box-shadow: 0px 0px 4px 1px #390948;
}

.badge-black {
    background: #000000;
    box-shadow: 0px 0px 4px 1px #666161;
}

.badge-red {
    background: #cd3838;
    box-shadow: 0px 0px 4px 1px #a13907;
}
.badge-pink {
    background: #e9365f;
    box-shadow: 0px 0px 4px 1px #c95776;
}

.badge-green {
    background: #1edd85;
    box-shadow: 0px 0px 4px 1px #57c97a;
}

.card-yellow {
    border: 2px solid #fbff0c;
    box-shadow: 0px -2px 6px -2px #cbc51f;
}

.card-blue {
    border: 2px solid #2f85c3;
    box-shadow: 0px -2px 6px -2px #06656e;
}

.card-gray {
    border: 2px solid #838383;
    box-shadow: 0px -2px 6px -2px #97a39f;
}

.card-brown {
    border: 2px solid #975c05;
    box-shadow: 0px -2px 6px -2px #a38a0f;
}

.card-black {
    border: 2px solid #000000;
    box-shadow: 0px -2px 6px -2px #666161;
}

.card-purple {
    border: 2px solid #7c009b;
    box-shadow: 0px -2px 6px -2px #390948;
}

.card-red {
    border: 2px solid #cd3838;
    box-shadow: 0px -2px 6px -2px #a13907;
}

.card-pink {
    border: 2px solid #e9365f;
    box-shadow: 0px -2px 6px -2px #c95776;
}

.card-green {
    border: 2px solid #1edd85;
    box-shadow: 0px -2px 6px -2px #57c97a;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
