/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


* {
font-family:Bahnschrift;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.option-primary {
    background: #ffa319!important;
    color:white;
}

.option-secondary {
    background: #db3e39 !important;
    color:white;
}

.option-tertiary {
    background: #2db387!important;
    color:white
}

.dropdown-primary {
width:248px;
border:3px solid #ffa319;
border-top:0px;
border-left:0px;
border-right:0px;
}

.dropdown-secondary {
    width: 248px;
    border: 3px solid #db3e39;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.dropdown-tertiary {
    width: 248px;
    border: 3px solid #2db387;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.badge-yellow {
    background: #fbff0c;
    color: black;
    box-shadow: 0px 0px 4px 1px #cbc51f;
}

.badge-blue {
    background: #2f85c3;
    box-shadow: 0px 0px 4px 1px #06656e;
}

.badge-white {
    background: #ffffff;
    color: darkgrey;
    box-shadow: 0px 0px 4px 1px gray;
}

.badge-gray {
    background: #838383;
    box-shadow: 0px 0px 4px 1px #97a39f;
}

.badge-brown {
    background: #975c05;
    box-shadow: 0px 0px 4px 1px #a38a0f;
}

.badge-purple {
    background: #7c009b;
    box-shadow: 0px 0px 4px 1px #390948;
}

.badge-black {
    background: #000000;
    box-shadow: 0px 0px 4px 1px #666161;
}

.badge-red {
    background: #cd3838;
    box-shadow: 0px 0px 4px 1px #a13907;
}
.badge-pink {
    background: #e9365f;
    box-shadow: 0px 0px 4px 1px #c95776;
}

.badge-green {
    background: #1edd85;
    box-shadow: 0px 0px 4px 1px #57c97a;
}
.card {
    background: #fff url(../Images/background.png);
}
.card-information {
    border: 0px;
    background: transparent;
}

.card-img-top {
width:60%!important;
}
.card-yellow {
    border: 2px solid #fbff0c;
    box-shadow: 0px -2px 6px -2px #cbc51f;
}

.card-blue {
    border: 2px solid #2f85c3;
    box-shadow: 0px -2px 6px -2px #06656e;
}

.card-gray {
    border: 2px solid #838383;
    box-shadow: 0px -2px 6px -2px #97a39f;
}

.card-brown {
    border: 2px solid #975c05;
    box-shadow: 0px -2px 6px -2px #a38a0f;
}

.card-black {
    border: 2px solid #000000;
    box-shadow: 0px -2px 6px -2px #666161;
}

.card-purple {
    border: 2px solid #7c009b;
    box-shadow: 0px -2px 6px -2px #390948;
}

.card-red {
    border: 2px solid #cd3838;
    box-shadow: 0px -2px 6px -2px #a13907;
}

.card-pink {
    border: 2px solid #e9365f;
    box-shadow: 0px -2px 6px -2px #c95776;
}

.card-green {
    border: 2px solid #1edd85;
    box-shadow: 0px -2px 6px -2px #57c97a;
}

.background-color-bug {
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    color: #fff;
    font-size: 13px;
}

.background-color-dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff;
    font-size: 13px;
}

.background-color-fairy {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #212121;
    font-size: 13px;
}

.background-color-fire {
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #fff;
    font-size: 13px;
}

.background-color-ghost {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
    color: #fff;
    font-size: 13px;
}

.background-color-ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
    font-size: 13px;
}

.background-color-normal {
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121;
    font-size: 13px;
}

.background-color-psychic {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff;
    font-size: 13px;
}

.background-color-steel {
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
    color: #212121;
    font-size: 13px;
}

.background-color-dark {
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
    color: #fff;
    font-size: 13px;
}

.background-color-electric {
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    color: #212121;
    font-size: 13px;
}

.background-color-fighting {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    color: #fff;
    font-size: 13px;
}

.background-color-flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
    font-size: 13px;
}

.background-color-grass {
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121;
    font-size: 13px;
}

.background-color-ice {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
    color: #212121;
    font-size: 13px;
}

.background-color-poison {
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    color: #fff;
    font-size: 13px;
}

.background-color-rock {
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    color: #fff;
    font-size: 13px;
}

.background-color-water {
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff;
    font-size: 13px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
